<?xml version="1.0"?>
<configuration>
<system.webServer>
<httpProtocol>
	<customHeaders>
		<add name="X-Frame-Options" value="DENY" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
       <add name="Content-Security-Policy" value="default-src 'self' https://uat-css-app.fsbl.in/; img-src 'self' https://uat-css-app.fsbl.in/ data:; script-src 'self' 'unsafe-inline'; style-src * 'unsafe-inline';" />       <add name="Permissions-Policy" value="geolocation=(), microphone=(), camera=()" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
		<remove name="X-Aspnet-Version"/>
		<remove name="Server"/>
	</customHeaders>
</httpProtocol>
<rewrite>
<outboundRules>
	<rule name="Remove Server Header">
		<match serverVariable="RESPONSE_Server" pattern=".*" />
		<action type="Rewrite" value="" />
	</rule>
	<rule name="Remove X-AspNet-Version Header">
		<match serverVariable="RESPONSE_X-AspNet-Version" pattern=".*" />
		<action type="Rewrite" value="" />
	</rule>
	<rule name="Remove X-Powered-By Header" enabled="true">
		<match serverVariable="RESPONSE_X-Powered-By" pattern=".*" />
		<action type="Rewrite" value="" />
	</rule>
</outboundRules>
<rules>
<rule name="React Routes" stopProcessing="true">
<match url=".*" />
<conditions logicalGrouping="MatchAll">
<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
<add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
</conditions>
<action type="Rewrite" url="/" />
</rule>

</rules>
</rewrite>
</system.webServer>
</configuration>